.textEditorContainer {
  line-height: 20px !important;
  /* width: 50%; */
  /* text-align: justify !important; */
}

.imageWrapper {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 26px;
} */