.slick-slide {
  transition:
    transform 0.5s ease,
    opacity 0.5s ease !important;
  transform-origin: center center !important;
  opacity: 0.75 !important;
  transform: scale(0.5) !important;
}

.slick-active {
  opacity: 1 !important;
  transform: scale(1) !important;
}


.carouselItem{
     max-width: 180px;
         min-width:180px;
	
		
}  
.container{
	width:100%;
}


.carouselSlide {
  max-width: var(--slide-width);
  min-width: var(--slide-width);

}
